
table a:link {
    color: #555;
    font-weight: bold;
    text-decoration: none;
}

table a:visited {
    color: #999999;
    font-weight: bold;
    text-decoration: none;
}

table a:active,
table a:hover {
    color: #bd5a35;
    text-decoration: underline;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    color: #555;
    font-size: 14px;
    background: #cccccc;
    background-color: rgba(0, 0, 0, 0);
    margin: 20px;
    border: #ccc 1px solid;
    margin-left: auto;
    margin-right: auto;
}

table th {
    height: 80px;
    width: 80px;
    padding: 21px 25px 22px 25px;
    color: white;
    background: #4B99AD;
}

table tr {
    text-align: center;
    padding-left: 20px;
}

table td {
    padding: 18px;
    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
}

table tr:hover td {
    background: #bbc4c2;
}

form {
    display: inline;
    margin: 0px;
    padding: 0px;
}

input#add {
    font-size: 8pt;
    color: white;
    background-color: forestgreen;
    border: 2px solid #2d3624;
    padding: 3px;
    cursor: pointer;
}

input#delete, div#sold {
    font-size: 8pt;
    color: white;
    background-color: indianred;
    border: 2px solid #2d3624;
    padding: 3px;
    cursor: pointer;
}

input#movie {
    font-size: 10pt;
    color: black;
    background-color: lightblue;
    border: 2px solid #2d3624;
    padding: 3px;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

h1 {
    text-align: center;
}

div.form {
    display: block;
    text-align: center;
}

form#login {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

tr.admin {
    color: red;
}

tr.user {
    color: green;
}

.form-style-1 {
    margin: 10px auto;
    max-width: 400px;
    padding: 20px 12px 10px 20px;
    font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-style-1 li {
    padding: 0;
    display: block;
    list-style: none;
    margin: 10px 0 0 0;
}

.form-style-1 label {
    margin: 0 0 3px 0;
    padding: 0px;
    display: block;
    font-weight: bold;
}

.form-style-1 input,
textarea,
select {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid #BEBEBE;
    padding: 7px;
    margin: 0px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
}

.form-style-1 input:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus {
    -moz-box-shadow: 0 0 8px #919da1;
    -webkit-box-shadow: 0 0 8px #919da1;
    box-shadow: 0 0 8px #919da1;
    border: 1px solid #919da1;
}

.form-style-1 .field-divided {
    width: 49%;
}

.form-style-1 .field-long {
    width: 100%;
}

.form-style-1 .field-select {
    width: 100%;
}

.form-style-1 .field-textarea {
    height: 100px;
}

.form-style-1 input[type=submit], input[type=reset], .form-style-1 input[type=button] {
    background: #556469;
    padding: 8px 15px 8px 15px;
    border: none;
    color: #fff;
}

.form-style-1 input[type=submit]:hover, input[type=reset]:hover, .form-style-1 input[type=button]:hover {
    background: #556469;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
}

.form-style-1 .required {
    color: red;
}

.form-style-1 h2 {
    margin: 0;
    display: inline;
}

input[type=submit].button, a:link.button, a:visited.button {
    background-color: #556469;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a:hover.button, a:active.button {
    background-color: #556469;
}

.notification {
    font-size: 14pt;
    color: green;
    margin: 5px 0 0 0;
    display: inline-block;
    float: left;
}

.warning {
    font-size: 14pt;
    color: red;
    margin: 5px 0 0 0;
    display: inline-block;
    float: left;
}